<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <!-- animation -->
    <link href="~/Content/animate.css" rel="stylesheet" />
    <!-- bootstrap -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- et line icon -->
    <link href="~/Content/et-line-icons.css" rel="stylesheet" />
    <!-- font-awesome icon -->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <!-- themify icon -->
    <link href="~/Content/themify-icons.css" rel="stylesheet" />
    <!-- swiper carousel -->
    <link href="~/Content/swiper.min.css" rel="stylesheet" />
    <!-- justified gallery -->
    <link href="~/Content/justified-gallery.min.css" rel="stylesheet" />
    <!-- magnific popup -->
    <link href="~/Content/magnific-popup.css" rel="stylesheet" />
    <!-- revolution slider -->
    <link href="~/Content/settings.css" rel="stylesheet" />
    <link href="~/Content/layers.css" rel="stylesheet" />
    <link href="~/Content/navigation.css" rel="stylesheet" />
    <!-- bootsnav -->
    <link href="~/Content/bootsnav.css" rel="stylesheet" />
    <!-- style -->
    <link href="~/Content/style.css" rel="stylesheet" />
    <!-- responsive css -->
    <link href="~/Content/responsive.css" rel="stylesheet" />
    <link href="~/Content/DrewCustom.css" rel="stylesheet" />
</head>
<body>
    <!-- Grey with black text -->
    <nav class="navbar navbar-expand-sm bg-light navbar-light" id="navMain">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Active</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>



    <!-- javascript libraries -->
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.js"></script>
    <script src="~/Scripts/jquery.easing.1.3.js"></script>
    <script src="~/Scripts/skrollr.min.js"></script>
    <script src="~/Scripts/smooth-scroll.js"></script>
    <script src="~/Scripts/jquery.appear.js"></script>
    <!-- menu navigation -->
    <script src="~/Scripts/bootsnav.js"></script>
    <script src="~/Scripts/jquery.nav.js"></script>
    <!-- animation -->
    <script src="~/Scripts/wow.min.js"></script>
    <!-- page scroll -->
    <script src="~/Scripts/page-scroll.js"></script>
    <!-- swiper carousel -->
    <script src="~/Scripts/swiper.min.js"></script>
    <!-- counter -->
    <script src="~/Scripts/jquery.count-to.js"></script>
    <!-- parallax -->
    <script src="~/Scripts/jquery.stellar.js"></script>
    <!-- magnific popup -->
    <script src="~/Scripts/jquery.magnific-popup.min.js"></script>
    <!-- portfolio with shorting tab -->
    <script src="~/Scripts/isotope.pkgd.min.js"></script>
    <!-- images loaded -->
    <script src="~/Scripts/imagesloaded.pkgd.min.js"></script>
    <!-- pull menu -->
    <script src="~/Scripts/classie.js"></script>
    <script src="~/Scripts/hamburger-menu.js"></script>
    <!-- counter -->
    <script src="~/Scripts/counter.js"></script>
    <!-- fit video -->
    <script src="~/Scripts/jquery.fitvids.js"></script>
    <!-- skill bars -->
    <script src="~/Scripts/skill.bars.jquery.js"></script>
    <!-- justified gallery -->
    <script src="~/Scripts/justified-gallery.min.js"></script>
    <!--pie chart-->
    <script src="~/Scripts/jquery.easypiechart.min.js"></script>
    <!-- instagram -->
    <script src="~/Scripts/instafeed.min.js"></script>
    <!-- retina -->
    <script src="~/Scripts/retina.min.js"></script>
    <!-- revolution -->
    <script src="~/Scripts/jquery.themepunch.tools.min.js"></script>
    <script src="~/Scripts/jquery.themepunch.revolution.min.js"></script>
    <!-- revolution slider extensions (load below extensions JS files only on local file systems to make the slider work! The following part can be removed on server for on demand loading) -->
    <!--<script type="text/javascript" src="revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="revolution/js/extensions/revolution.extension.video.min.js"></script>-->
    <!-- setting -->
    <script src="~/Scripts/main.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
