<!--this is where the bs grid goes for layout-->

<div class="container">

    <div class="row">
        <div class="col-md-12 h2 text-center">
            <strong>JS Excercise 2: Factorial Generator</strong>
        </div>
    </div>

    <hr />
    <br />

    <div class="row">
        <div class="col-md-6" style="height: 80px">
            <div class="row">
                <div class="col-md-6">Enter any integer under 171:</div>
                <div class="col-md-6">
                    <input type="number" id="input" />
                </div>
            </div>
        </div>
        <div class="col-md-6" style="height: 80px">
            <p id="output" class="text-center"></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <button id="btnMath" class="btn btn-warning btn-lg center-block btn-wide text-bold">Let 'er rip!</button>
        </div>
        <div class="col-md-6">
            <button id="btnClear" class="btn btn-danger btn-lg center-block btn-wide text-bold">Do-over?</button>
        </div>
    </div>

    <br />

</div>



@section scripts {
    <script>
        $("#btnClear").click(function () {
            $("#input").val("");
            $("#output").text("");
        });
        $("#btnMath").click(function () {
            //step 1- get user data
            var input = Number($("#input").val());
            //step 2- use it
            var output = Factorial(input);
            //step 3- inform the user
            $("#output").text("I reckon that there factorial of " + input + " is " + output + ". Golly, that's huge!");
        });


        function Factorial(foo) {
            if (foo > 0) {
                for (var loop = foo - 1; loop > 1; loop--) {
                    foo *= loop;
                }
            }
            else if (foo == 0) {
                foo = 1;
            }
            else {
                foo = "undefined";
            }
            return foo;
        }



    </script>   
}